.card {
  box-sizing: border-box;
  margin: 0 auto var(--space-big);
  user-select: none;
  cursor: default;
}

.card .preview {
  width: 100%;
  height: auto;
  margin-bottom: var(--space-small);
}

@media only screen and (min-width: 900px) {
  .card .meta-data {
    padding: 0;
  }
}
