.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-medium);
  padding: 12px var(--space-medium);
}

.header.light {
  background-color: white;
}

.header.dark {
  background-color: #252525;
}

.header img {
  max-width: 120px;
  height: auto;
  vertical-align: middle;
}

.header.dark .search-bar input {
  background-color: #121212;
  color: #f8f8f8;
}

.header.dark .search-bar button {
  background-color: #363636;
  color: #727272;
}

@media only screen and (min-width: 660px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}
