.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-medium);
  align-items: center;
  padding: var(--space-medium);
  background-color: white;
}

.header.light {
  background-color: white;
}

.header.dark {
  background-color: var(--color-dark-grey);
}

.header img {
  max-width: 120px;
  height: auto;
}

.header.dark .search-bar input {
  background-color: var(--color-dark-grey);
  color: var(--color-light-grey);
}

.header.dark .search-bar button {
  background-color: var(--color-dark-grey);
  color: var(--color-medium-grey);
}

@media (min-width: 660px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}
