#home {
  height: 100%;
}

#home .container {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 320px;
}

#home .container > .title {
  padding-left: 8px;
  margin-bottom: var(--space-medium);
  font-size: var(--font-size-big);
  letter-spacing: -0.75px;
}

/* YouTube breakpoints */
@media (min-width: 400px) {
  #home .container {
    /* the max width is 2 columns + the gap */
    max-width: calc(2 * 320px + 16px);
  }
  #home .grid {
    display: grid; /* the native way of creating columns withouth hacks or frameworks */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--space-medium);
  }
}

@media (min-width: 550px) {
  #home .container {
    padding-left: var(--space-big);
    padding-right: var(--space-big);
  }

  #home .container .title {
    padding-left: 0;
  }
}

@media (min-width: 750px) {
  #home .container {
    max-width: calc(3 * 320px + 16px);
  }

  #home .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  #home .container {
    max-width: 960px;
  }

  #home .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
