#results {
  height: 100%; /* 100vh forces to cover the screen. 100% only cover the screen if there is a lot of content. */
}

#results .container {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 320px;
}

#results .container > .title {
  padding-left: var(--space-small);
  margin-bottom: var(--space-medium);
  font-size: var(--font-size-big);
  letter-spacing: -0.75px;
}

/* YouTube breakpoints */
@media only screen and (min-width: 500px) {
  #results .container {
    max-width: 100%;
    margin-left: var(--space-medium);
  }

  #results .card {
    display: flex;
    flex-direction: row;
  }

  #results .card .preview {
    width: auto;
    height: 160px;
    margin-right: var(--space-medium);
  }

  #results .card .channel-thumb {
    display: none;
  }
}
