body {
  margin: 0;
}

.App {
  background-color: var(--color-light-grey);
  color: var(--color-dark-grey);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 960px;
}

@media (min-width: 550px) {
  .container {
    padding-left: var(--space-big);
    padding-right: var(--space-big);
  }
}

@media (min-width: 750px) {
  .container {
    max-width: calc(3 * 320px + 16px);
  }
}
